<div class="day" bs-collapse ng-model="panel" >
    <h2>{{dayWord}} <img bs-collapse-toggle src="../../img/arrows/down_grey.png" class="arrow" alt="arrow"></h2>
    <div bs-collapse-target class="panel-collapse" >
        <div class="dayEntry" ng-repeat="booking in bookings" >
            <div ng-if="checkDate(booking.dep) == day" bs-collapse start-collapsed="true">
                <div class="dayEntryHeader">
                    <span>{{booking.guest_id.salutation}} </span>
                    <span>{{booking.guest_id.last_name}}</span>
                    <span>{{booking.person_count}} Personen</span>
                    <i bs-collapse-toggle><img src="../../img/arrows/down_blue.png" class="arrow" alt="arrow"></i>
                </div>
                <div class="dayEntryDetails panel-collapse" bs-collapse-target>
                    <div class="col">
                        <div class="row">Zimmer</div>
                        <div class="row">Abreise</div>
                        <div class="row">Verpflegung</div>
                    </div>

                    <div class="col">
                        <div class="row" ng-repeat="room in booking.room_id">{{room.number}}{{$last ? '' : ', '}}</div>
                        <div class="row">{{booking.dep | date:"dd. MMMM yyyy"}}</div>
                        <div class="row">{{booking.category}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>