/*
 * VARIABLES
 */
$width-md: 970px;
$width-lg: 1170px;

$blue: #2f3545;
$darkblue: #1e2331;
$formblue: #40475b;

$grey: #eef1f9;
$darkgrey: #c9cedb;

$green: #57dcba;

$black: #000000;
$white: #FFFFFF;

$border: 2px solid $darkgrey;
$font: 'proxima';

/*
 * MIXINS
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/*
 * FONTS
 */
@font-face {
  font-family: 'proxima';
  src: url('../fonts/proximanovasoft-regular-webfont.eot');
  src: url('../fonts/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanovasoft-regular-webfont.woff2') format('woff2'),
  url('../fonts/proximanovasoft-regular-webfont.woff') format('woff'),
  url('../fonts/proximanovasoft-regular-webfont.ttf') format('truetype'),
  url('../fonts/proximanovasoft-regular-webfont.svg#proxima_nova_softregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * GENERAL STYLES
 */
* {
  font-family: $font;
  font-weight: normal;
  font-size: 16px;
  color: $border;
}
h1 {
  text-transform: uppercase;
  color: $blue;
  font-weight: normal;
  border-bottom: 2px solid #c9cedb;
  padding-bottom: 10px;
}
h2 {
  text-transform: uppercase;
  font-weight: normal;
}
.clear {
  clear: both;
}

/*
 * NAVCONTAINER, CONTAINER
 */
#navContainer, .container {
  margin: 0 auto;
}
#navContainer {
  margin-top: -15px;
}
.container {
  padding: 20px 0;
}

/*
 * NAVIGATION
 */
#nav {
  background-color: $blue;
  height: 50px;
}
#leftNav a, #rightNav a {
  color: $white;
  text-decoration: none;
}
#leftNav a:hover, #rightNav a:hover {
  background: #434b62;
}
#leftNav a {
  margin-right: -5px;
  border-left: 1px solid #434b62;
  border-right: 1px solid #434b62;
  padding: 15px;
}
#leftNav a:first-child {
  background: url("../img/hzv.png") no-repeat center center;
  margin-right: -1px;
  padding-left: 50px;
}
#rightNav a {
  margin-right: -5px;
  border-left: 1px solid #434b62;
  border-right: 1px solid #434b62;
  padding: 15px;
}

/*
 * LOGO, ARRIVALS, DEPARTURES
 */
.logo, .arrivals, .departures {
  margin: 0 20px;
}
.logo {
  margin-top: 20px;
}
.logo img {
  max-width: 200px;
}
#current {
  margin-top: 30px;
}

/*
 * REQUEST FORM
 */
.request {
  position: relative;
  padding: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.request .status {
  position: absolute;
  right: 20px;
  top: 35px;
  color: $green;
}
.request .col {
  float: left;
  margin-right: 25px;
}
.request .col.last {
  float: right;
  margin-right: 0px;
}
.request .row {
  margin-bottom: 12px;
}
.request .cal {
  background: url("../img/cal.png") no-repeat;
  background-position: 130px 10px;
}
div.dropdown-menu{
  position: absolute;
  top: 0px;
  left: 0px;
  background: gray;
  list-style: none;
}
.btn-today{
  background: red;
}
.request input {
  background: $white;
  border: $border;
  padding: 8px;
  height: 30px;
  color: $darkblue;
  font-family: $font;
  @include border-radius(5px);
}
.request .last input[type="text"], .request .last input[type="email"] {
  width: 225px;
}
.request .last input[type="submit"] {
  float: right;
  color: #FFFFFF;
  background: $green;
  border: none;
  text-transform: uppercase;
  padding: 0px 20px;
  padding-top: 4px;
  height: 48px;
}
.request .component input[type="text"] {
  max-width: 120px;
  text-align: center;
}
.request .component button {
  width: 30px;
  padding: 0;
  background: $formblue;
  border-color: $formblue;
  color: $white;
  border: none;
  height: 30px;
  font-family: $font;
  @include border-radius(5px);
}
.request .item {
  width: 20px;
  float: left;
  border: $border;
  margin-right: 10px;
  padding: 12px;
  text-align: center;
  background: $formblue;
  border-color: $formblue;
  color: $white;
  @include border-radius(5px);
}
.request .item:hover {
  cursor: pointer;
}
.request .core-selected {
  background: $green;
  border-color: $green;
  color: $white;
}

/*
 * COLLAPSE
 */
.collapse {
  margin: 0 20px;
}
.collapse h1 {
  float: left;
}
.collapse .open {
  float: right;
  margin-top: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.collapse .open:hover {
  cursor: pointer;
}
.collapse1 .content .data div:nth-child(1) {
  min-width: 200px;
}
.collapse1 .content .data div:nth-child(2) {
  min-width: 50px;
}
.collapse1 .content .data div:nth-child(3) {
  min-width: 110px;
}
.collapse3 .content .email-left {
  width: 60%;
  border: $border;
}
.collapse3 .content .drag {
  width: 40%;
}
.collapse3 .content .email-right {
  width: 60%;
  border: $border;
  margin-left: 40%;
}

/*
 * TABS
 */
.tabs-wrapper {
  input[type=radio] {
    display: none;
  }
  label {
    display: inline-block;
    cursor: pointer;
    color: black;
    width: 49%;
    background: #FFFFFF;
    text-align:center;
    &:last-of-type {
      border-bottom:none;
    }
    &:hover {
      background: black;
      color: #FFFFFF;
    }
  }
}
#tab1, #tab2 {
  &:checked{
    + label {
      background: black;
      color: #FFFFFF;
    }
  }
}
.tab-body {
  position: absolute;
  top: -9999px;
  padding: 10px;
}
.tab-body h1 {
  float: none;
}
.tab-body-wrapper {
  /*background: $tab-body-wrapper-color;
  border-top: $tab-checked-border-color $tab-delimiter-line-height solid;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  border-top-right-radius:3px;*/
}
#tab1:checked ~ .tab-body-wrapper #tab-body-1, #tab2:checked ~ .tab-body-wrapper #tab-body-2 {
  position: relative;
  top: 0px;
}

/*
 * MEDIA QUERIES
 */
@media (min-width: 992px) {
  #navContainer, .container {
    width: $width-md;
  }
}
@media (min-width: 1200px) {
  #navContainer, .container {
    width: $width-lg;
  }
}