<div horizontal layout>
    <div id="current" vertical layout flex>
        <div horizontal layout>

            <div flex class="arrivals">
                <h1>Aktuelle Anreisen</h1>

                <anreisen-dir bookings="arrivals" day="1" open="true"></anreisen-dir>
                <anreisen-dir bookings="arrivals" day="2" open="false"></anreisen-dir>
                <anreisen-dir bookings="arrivals" day="3" open="false"></anreisen-dir>
            </div>

            <div flex class="departures">
                <h1>Aktuelle Anreisen</h1>
                <abreisen-dir bookings="departures" day="1" open="true"></abreisen-dir>
                <abreisen-dir bookings="departures" day="2" open="false"></abreisen-dir>
                <abreisen-dir bookings="departures" day="3" open="false"></abreisen-dir>
            </div>
        </div>
    </div>

    <div class="logo">
        <img src="../img/logo.png">
    </div>
</div>

<div class="formular" ng-controller="requestFormController">
    <h1>Neue Anfrage</h1>
    <p>Die Datums werden im FE zu UTC 12:00:00 gewandelt...
    Aber die Umwandlung muss von Lokaler Zeitzohne in UTC geschehen und nicht UTC generieren!
        In DB werden datums als UTC gespeichert...
        (kurz vor mitternacht-Problem)</p>
    <p class="status">{{available_rooms.length}} Zimmer verfügbar</p>
    <form>
        <div class="col">
            <div class="row">Anreise <input type="text" class="cal" placeholder="Datum" ng-model="requestForm.arr" name="arr" bs-datepicker></div>
            <div class="row">Abreise <input type="text" class="cal" placeholder="Datum" ng-model="requestForm.dep" name="dep" bs-datepicker></div>
        </div>

        <div class="col">
            <div class="row">
                <custom-counter ng-model="requestForm.persons" current="0" singular="Person" plural="Personen" size="12"></custom-counter>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <custom-counter current="0" singular="EZ" plural="EZ" size="5"></custom-counter>
            </div>

            <div class="row">
                <custom-counter current="0" singular="DZ" plural="DZ" size="5"></custom-counter>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <core-selector ng-model="requestForm.category" class="list" selected="-1">
                    <div class="item">NF</div>
                    <div class="item">HP</div>
                </core-selector>
            </div>
        </div>

        <div class="col last">
            <div class="row">
                <input type="text" ng-model="requestForm.last_name" name="name" placeholder="Nachname/Firma">
            </div>

            <div class="row">
                <input type="text" ng-model="requestForm.email" name="email" placeholder="E-Mail Adresse">
            </div>

            <div class="row">
                <input ng-click="testBooking()" type="submit" class="greenButton" value="Weiter">
            </div>
        </div>

        <div class="clear"></div>
    </form>

    <hr>
</div>