<div horizontal layout>
    <div class="logo">
        <img src="../img/logo.png">
    </div>

    <div vertical layout flex>
        <div horizontal layout>
            <div flex class="arrivals">
                <h1>Aktuelle Anreisen</h1>
                <div ng-repeat="arrival in arrivals | orderBy: 'arr'">

                    <h2 ng-hide="isCurrentDate(arrival.arr)">{{displayDate(arrival.arr) | date:'dd.MM.yyyy'}}</h2>
                    <span>{{arrival.arr | date:'dd.MM.yyyy'}}</span>
                    <span>{{arrival.guest_id.last_name}}</span>
                    <span>{{arrival.person_count}} Personen</span>
                    <span>
                        Zimmer
                        <span ng-repeat="room in arrival.room_id">{{room.number}}{{$last ? '' : ', '}}</span>
                    </span>
                </div>

            </div>
            <div flex class="departures">
                <h1>Aktuelle Abreisen</h1>
                <div ng-repeat="departure in departures | orderBy: 'dep'">

                    <h2 ng-hide="isCurrentDate(departure.dep)">{{displayDate(departure.dep) | date:'dd.MM.yyyy'}}</h2>

                    <span>{{departure.dep | date:'dd.MM.yyyy'}}</span>
                    <span>{{departure.guest_id.last_name}}</span>
                    <span>{{departure.person_count}} Personen</span>
                    <span>Zimmer

                        <span ng-repeat="room in arrival.room_id">{{room.number}}</span>
                    </span>
                </div>

            </div>
        </div>
        <div class="request" ng-controller="requestFormController">
            <h1>Anfrage</h1>
            <p class="status">{{available_rooms.length}} Zimmer verfügbar</p>
            <form>
                <p>
                    <input ui-date="date-options" ng-model="requestForm.arr" name="arrival">
                    <input ui-date="date-options" ng-model="requestForm.dep" name="departure">
                </p>

                <p>Personen</p>
                <core-selector class="list" selected="-1">
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item">5</div>
                    <div class="item">6</div>
                    <select name="number-chooser">
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </core-selector>
                <div class="clear"></div>

                <p>Zimmer</p>
                <core-selector valueattr="label" class="list" selectedModel="{{requestForm.person_count}}">
                    <div label="foo" class="item">1</div>
                    <div label="2" class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <select name="number-chooser">
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </core-selector>
                <div class="clear"></div>

                <p>Kategorie</p>
                <core-selector ng-model="requestForm.category" class="list" selected="-1">
                    <div class="item">HP</div>
                    <div class="item">NF</div>
                </core-selector>
                <div class="clear"></div>

                <p>
                    <input type="text" name="name" placeholder="Nachname">
                    <input type="text" name="company" placeholder="Firma">
                    <input type="email" name="email" placeholder="E-Mail Adresse">
                </p>
                <input type="submit" value="Weiter">
            </form>
        </div>
    </div>
</div>

<!--<p>todo: Aktuelle Anreisen verbessern Aktuelle Abreisen, Verfügbarkeit...</p>-->
