<div horizontal layout>
    <div class="logo">
        <img src="../img/logo.png">
    </div>

    <div vertical layout flex>
        <div horizontal layout>
            <div flex class="arrivals">
                <h1>Aktuelle Anreisen</h1>
                <div ng-repeat="arrival in arrivals">
                    <div ng-if="checkDate(arrival.arr) == 1">
                        <h2>Heute</h2>
                        <span>{{arrival.arr | date:'dd.MM.yyyy'}}</span>
                        <span>{{arrival.guest_id.last_name}}</span>
                        <span>{{arrival.person_count}} Personen</span>
                    <span>
                        Zimmer
                        <span ng-repeat="room in arrival.room_id">{{room.number}}{{$last ? '' : ', '}}</span>
                    </span>
                    </div>
                </div>
                <div ng-repeat="arrival in arrivals">
                    <div ng-if="checkDate(arrival.arr) == 2">
                        <h2>Morgen</h2>
                        <span>{{arrival.arr | date:'dd.MM.yyyy'}}</span>
                        <span>{{arrival.guest_id.last_name}}</span>
                        <span>{{arrival.person_count}} Personen</span>
                    <span>
                        Zimmer
                        <span ng-repeat="room in arrival.room_id">{{room.number}}</span>
                    </span>

                    </div>
                </div>

                <div ng-repeat="arrival in arrivals">
                    <div ng-if="checkDate(arrival.arr) == 3">
                        <h2>Datum</h2>
                        <span>{{arrival.arr | date:'dd.MM.yyyy'}}</span>
                        <span>{{arrival.guest_id.last_name}}</span>
                        <span>{{arrival.person_count}} Personen</span>
                    <span>
                        Zimmer
                        <span ng-repeat="room in arrival.room_id">{{room.number}}</span>
                    </span>
                    </div>
                </div>

            </div>
            <div flex class="departures">

                <div flex><h1>Aktuelle Abreisen</h1></div>

            </div>
        </div>
        <div class="request">
            <h1>Anfrage</h1>
            <p class="status">10 Zimmer verfügbar</p>
            <form>
                <p>
                Anreise <input type="date" name="arrival">
                Abreise <input type="date" name="departure">
                </p>
                <p>
                <input type="text" name="name" value="Nachname">
                <input type="text" name="company" value="Firma">
                <input type="email" name="email" value="E-Mail Adresse">
                </p>
                <input type="button" name="continue" value="Weiter">
            </form>
        </div>
    </div>
</div>

<!--<p>todo: Aktuelle Anreisen verbessern Aktuelle Abreisen, Verfügbarkeit...</p>
        -->