/*############# footer animation #################*/
#guestInformationHeader.ng-hide-remove {
    -webkit-animation: fadeIn 0.4s;
}
#guestInformation form.ng-hide-remove {
    -webkit-animation: fadeIn 0.4s;
}
#guestInformation form.ng-hide-add {
    -webkit-animation: fadeOut 0.4s;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
/*#################################################################*/

/*############# dashboard animation #################*/
.panel-collapse{

    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    transition: max-height 0.3s;
}
.panel-collapse.in {

    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    transition: max-height 0.3s;
}
.collapse-wrapper.date .panel-collapse.in {
    overflow: visible;
}
@-webkit-keyframes hideEntry {
    from { max-height: 0px; }
    to   { max-height: 500px;}
}


.addGuestForm {
    max-height: 2000px
}
.addGuestForm.ng-hide-add.ng-hide-add-active,
.addGuestForm.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.addGuestForm.ng-hide {
   max-height: 0px;

}

.rl_room:hover {
    background: red;
}

.rl_room.selectedRoom {
    background: yellow;
}

.cc-open #collapse, .cc-open #collapse .panel-collapse {
    overflow: hidden!important;
}
/* DATEPICKER */
.date .cc-open #collapse, .date .cc-open #collapse .panel-collapse {
    overflow: visible !important;
}
.date /deep/ core-collapse {
    overflow: visible!important;
}
.date core-collapse {
    overflow: visible!important;
}
/* MANAGEMENT */
.management .cc-open #collapse, .management .cc-open #collapse .panel-collapse {
    overflow: hidden !important;
}
.management /deep/ core-collapse {
    overflow: hidden!important;
}
.management core-collapse {
    overflow: hidden!important;
}