/*
 * FONT
 */
@font-face {
  font-family: 'proxima';
  src: url("../../fonts/proximanovasoft-regular-webfont.eot");
  src: url("../../fonts/proximanovasoft-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proximanovasoft-regular-webfont.woff2") format("woff2"), url("../../fonts/proximanovasoft-regular-webfont.woff") format("woff"), url("../../fonts/proximanovasoft-regular-webfont.ttf") format("truetype"), url("../../fonts/proximanovasoft-regular-webfont.svg#proxima_nova_softregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
 * GENERAL STYLES
 */
* {
  font-family: "proxima";
  font-weight: normal;
  font-size: 16px;
  color: #2f3545; }

h1 {
  text-transform: uppercase;
  color: #2f3545;
  font-weight: normal;
  border-bottom: 2px solid #c9cedb;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 30px; }

h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px; }

hr {
  border: 1px solid #c9cedb;
  margin-bottom: 30px;
  margin-top: 15px; }

.clear {
  clear: both; }

#navContainer, .container {
  margin: 0 auto; }

#navContainer {
  margin-top: -15px; }

.container {
  padding: 20px 0; }

/*
 * MEDIA QUERIES
 */
@media (min-width: 992px) {
  #navContainer, .container {
    width: 970px; } }
@media (min-width: 1200px) {
  #navContainer, .container {
    width: 1170px; } }
/*
 * NAVIGATION
 */
#nav {
  background-color: #2f3545;
  height: 50px; }

#leftNav a, #rightNav a {
  color: #FFFFFF;
  text-decoration: none; }

#leftNav a {
  margin-right: -5px;
  border-left: 1px solid #434b62;
  border-right: 1px solid #434b62;
  padding: 15px;
  outline: none; }

#leftNav a:first-child {
  background: url("../img/hzv.png") no-repeat center center;
  margin-right: -1px;
  padding-left: 50px; }

#rightNav a {
  margin-right: -5px;
  border-left: 1px solid #434b62;
  border-right: 1px solid #434b62;
  padding: 15px;
  background: #1e2331;
  outline: none; }

@-moz-document url-prefix() {
  #leftNav a, #rightNav a {
    margin-right: 0px;
    border-left: none;
    background: none; }

  #leftNav a:first-child, #rightNav a:first-child {
    border-left: 1px solid #434b62; } }
/*
 * LOGO, ARRIVALS, DEPARTURES
 */
.logo, .arrivals, .departures {
  margin: 0 20px; }

.logo {
  margin-top: 20px; }

.logo img {
  max-width: 200px; }

#current {
  margin-top: 30px; }

#current h1 {
  margin-bottom: 0;
  border: none; }

#current h2 {
  border-top: 2px solid #c9cedb;
  border-bottom: 2px solid #c9cedb;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  margin: 0;
  font-size: 16px;
  position: relative; }

#current .arrow {
  position: absolute;
  right: 0;
  top: 0;
  padding: 21px;
  background: #eef1f9; }

#current .arrow:hover {
  cursor: pointer; }

#current .dayEntryHeader {
  border-bottom: 2px solid #eef1f9;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  position: relative; }

#current .dayEntryHeader .arrow {
  background: none; }

#current .dayEntry {
  background: #c9cedb; }

#current .dayEntry.active {
  background: none; }

#current .dayEntryDetails {
  background: #eef1f9;
  padding-left: 10px; }

.datepicker {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 10px;
  padding: 10px;
  background: #FFFFFF;
  list-style: none;
  border: 2px solid #c9cedb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.datepicker .btn-block {
  border: none;
  background: none; }

.datepicker tbody .btn-default {
  background: none;
  border: 2px solid #eef1f9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.datepicker tbody .btn-default:hover {
  background: #2f3545; }

.datepicker tbody .btn-default:hover > span {
  color: #FFFFFF; }

.datepicker tbody .btn-today {
  background: #57dcba; }

.datepicker tbody .btn-today span {
  color: #FFFFFF; }

/*
 * FOOTER
 */
#guestInformation {
  background-color: #2f3545;
  bottom: 0px;
  color: #FFFFFF; }

#guestInformation .container {
  padding: 0; }

#guestInformation .formular {
  margin-top: 0; }

#guestInformation .formular form {
  margin: 20px 0; }

#guestInformationHeader {
  height: 40px; }

#guestInformationHeader span {
  display: inline-block;
  padding-left: 10px;
  margin-top: 12px;
  color: #FFFFFF; }

#guestInformation .up, #guestInformation .down {
  float: right;
  width: 12px;
  height: 6px;
  padding: 20px;
  margin-right: 8px; }

#guestInformation .up {
  background: url("../img/arrows/up_white.png") no-repeat center #1e2331; }

#guestInformation .down {
  background: url("../img/arrows/down_white.png") no-repeat center #1e2331; }

#guestInformation .up:hover, #guestInformation .down:hover {
  cursor: pointer; }

#guestInformation input[type="text"],
#guestInformation input[type="number"],
#guestInformation input[type="email"] {
  background: #2f3545;
  border-color: #FFFFFF;
  color: #FFFFFF; }

#guestInformation select {
  border: 2px solid #c9cedb;
  background: none;
  border-color: #FFFFFF;
  color: #FFFFFF;
  padding: 8px;
  height: 50px;
  width: 171px;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

/*
 * FORMULAR
 */
.formular {
  position: relative;
  padding: 20px;
  margin-top: 20px; }

.formular form {
  padding: 0 10px; }

.formular .status {
  position: absolute;
  right: 30px;
  top: 35px;
  color: #57dcba; }

.formular .col {
  float: left;
  margin-right: 25px; }

.formular .col.last {
  float: right;
  margin-right: 0px; }

.formular .row {
  margin-bottom: 12px; }

.formular .cal {
  background: url("../img/cal.png") no-repeat;
  background-position: 130px 10px; }

.formular input {
  background: #FFFFFF;
  border: 2px solid #c9cedb;
  padding: 8px;
  height: 30px;
  color: #1e2331;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.formular .custom-counter-container input[type="text"] {
  max-width: 120px;
  text-align: center;
  font-family: "proxima";
  font-size: 16px; }

.formular .custom-counter-container button {
  width: 30px;
  padding: 0;
  background: #40475b;
  border-color: #40475b;
  color: #FFFFFF;
  border: none;
  height: 30px;
  font-family: "proxima";
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.formular .custom-counter-container button:hover {
  background: #ffba42;
  cursor: pointer; }

.formular custom-counter::shadow .custom-counter-container input {
  background: #FFFFFF;
  border: 2px solid #c9cedb;
  padding: 8px;
  height: 30px;
  color: #1e2331;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.formular custom-counter::shadow .custom-counter-container input[type="text"] {
  max-width: 120px;
  text-align: center;
  font-family: "proxima";
  font-size: 16px; }

.formular custom-counter::shadow .custom-counter-container button {
  width: 30px;
  padding: 0;
  background: #40475b;
  border-color: #40475b;
  color: #FFFFFF;
  border: none;
  height: 30px;
  font-family: "proxima";
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.formular custom-counter::shadow .custom-counter-container button:hover {
  background: #ffba42;
  cursor: pointer; }

.formular .last input[type="text"], .formular .last input[type="email"] {
  width: 325px; }

.formular .item {
  width: 20px;
  float: left;
  border: 2px solid #c9cedb;
  margin-right: 10px;
  padding: 12px;
  text-align: center;
  background: #40475b;
  border-color: #40475b;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.formular .item:hover {
  cursor: pointer; }

.formular .core-selected {
  background: #57dcba;
  border-color: #57dcba;
  color: #FFFFFF; }

input.greenButton, button.greenButton {
  float: right;
  color: #FFFFFF;
  background: #57dcba;
  border: none;
  text-transform: uppercase;
  padding: 0px 20px;
  padding-top: 4px;
  height: 48px;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

input.greenButton:hover, button.greenButton:hover {
  background: #ffba42; }

button.blueButton {
  color: #FFFFFF;
  background: #40475b;
  border: none;
  padding: 5px 15px;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

button.blueButton:hover {
  background: #ffba42; }

/*
 * COLLAPSE
 */
.collapse {
  margin: 0 20px;
  position: relative; }

.collapse h1 {
  border-top: 2px solid #c9cedb;
  padding-top: 11px;
  margin-top: 60px;
  margin-bottom: 0; }

.collapse .open {
  float: right;
  margin-top: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.collapse .open:hover {
  cursor: pointer; }

.collapse .open .arrow {
  position: absolute;
  right: 0;
  top: 2px;
  padding: 25px;
  background: #eef1f9; }

.collapse .guest {
  padding: 10px;
  border-bottom: 2px solid #eef1f9; }

.collapse .guest .notification {
  background: #ff5a00;
  color: #FFFFFF;
  padding: 2px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

.collapse .formular {
  padding: 0;
  margin: 0; }

.collapse .content .data div:nth-child(1) {
  min-width: 130px;
  /* 200px */ }

.collapse .content .data div:nth-child(2) {
  min-width: 50px; }

.collapse .content .data div:nth-child(3) {
  min-width: 110px; }

.collapse .content .email {
  border: 2px solid #c9cedb;
  padding: 5px 30px;
  margin-bottom: 10px; }

.collapse .content .email p.drop {
  border: 2px solid #eef1f9;
  min-height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.collapse .content .email-list {
  margin-top: 30px; }

.collapse .content .email-write {
  width: 60%; }

.collapse .content .email-drag {
  width: 40%;
  margin-left: 30px; }

.collapse .content .email-drag .items {
  font-size: 18px; }

.collapse .content .email-drag .item {
  background: #40475b;
  color: #FFFFFF;
  padding: 8px 20px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.collapse .content .email-left, .collapse .content .email-right {
  border: 2px solid #c9cedb;
  width: 70%;
  padding: 20px 30px;
  margin-bottom: 15px; }

.collapse .content .email-info-left, .collapse .content .email-info-right {
  width: 25%;
  padding: 0 20px;
  color: #c9cedb; }

.collapse .content .email-info-right {
  text-align: right; }

/*# sourceMappingURL=main.css.map */
