/*
 * FONT
 */
@font-face {
  font-family: 'proxima';
  src: url("../../fonts/proximanovasoft-regular-webfont.eot");
  src: url("../../fonts/proximanovasoft-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proximanovasoft-regular-webfont.woff2") format("woff2"), url("../../fonts/proximanovasoft-regular-webfont.woff") format("woff"), url("../../fonts/proximanovasoft-regular-webfont.ttf") format("truetype"), url("../../fonts/proximanovasoft-regular-webfont.svg#proxima_nova_softregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
 * GENERAL STYLES
 */
* {
  font-family: "proxima";
  font-weight: normal;
  font-size: 16px;
  color: #2f3545; }

h1 {
  text-transform: uppercase;
  color: #2f3545;
  font-weight: normal;
  border-bottom: 2px solid #c9cedb;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 30px; }

h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px; }

hr {
  border: 1px solid #c9cedb;
  margin-bottom: 30px;
  margin-top: 15px; }

*:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

button:disabled {
  background: #c9cedb !important; }

.clear {
  clear: both; }

#navContainer,
.container {
  margin: 0 auto; }

#navContainer {
  margin-top: -15px; }

.container {
  padding: 20px 0; }

/*
 * MEDIA QUERIES
 */
@media (min-width: 992px) {
  #navContainer, .container {
    width: 970px; } }
@media (min-width: 1200px) {
  #navContainer, .container {
    width: 1170px; } }
/*
 * ANIMATIONS
 */
.view-container {
  position: relative; }

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  left: 0;
  right: 0; }

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100; }

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/*
 * NAVIGATION
 */
#nav {
  background-color: #2f3545;
  height: 50px; }

#leftNav a, #rightNav a {
  color: #FFFFFF;
  text-decoration: none; }

#leftNav a:hover, #rightNav a:hover {
  background: #434b62; }

#leftNav a {
  margin-right: -5px;
  border-left: 1px solid #434b62;
  border-right: 1px solid #434b62;
  padding: 15px;
  outline: none; }

#leftNav a:first-child {
  background: url("../img/hzv.png") no-repeat center center;
  margin-right: -1px;
  padding-left: 50px; }

#rightNav a {
  margin-right: -5px;
  border-left: 1px solid #434b62;
  border-right: 1px solid #434b62;
  padding: 15px;
  background: #1e2331;
  outline: none; }

@-moz-document url-prefix() {
  #leftNav a, #rightNav a {
    margin-right: 0px;
    border-left: none;
    background: none; }

  #leftNav a:first-child, #rightNav a:first-child {
    border-left: 1px solid #434b62; } }
/*
 * LOGO, ARRIVALS, DEPARTURES
 */
.logo, .arrivals, .departures {
  margin: 0 20px; }

.logo {
  margin-top: 40px; }

.logo img {
  max-width: 200px; }

#current {
  margin-top: 30px; }

#current h1 {
  margin-bottom: 0;
  border: none; }

#current .dayEntryHeader {
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  position: relative;
  background: #c9cedb; }

#current .dayEntryHeader .dayGuest {
  float: left;
  min-width: 180px; }

#current .dayEntryDetails {
  background: #eef1f9;
  padding-left: 10px;
  padding-bottom: 15px; }

#current .dayEntryDetails .col {
  float: left;
  margin-right: 20px; }

#current .dayEntryDetails .col div:first-child {
  padding-top: 15px; }

#current .dayEntryDetails .col:last-child {
  padding-bottom: 15px; }

/*
 * DATEPICKER
 */
.datepicker {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 10px;
  padding: 10px;
  background: #FFFFFF;
  list-style: none;
  border: 2px solid #c9cedb;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  z-index: 1; }

.datepicker .text-center .pull-left,
.datepicker .text-center .pull-right {
  background: #40475b;
  border: none;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px; }

.datepicker .text-center .pull-left:hover,
.datepicker .text-center .pull-right:hover {
  background: #ffba42; }

.datepicker .glyphicon-chevron-left:before,
.datepicker .glyphicon-chevron-right:before {
  color: #FFFFFF;
  font-family: "proxima";
  font-style: normal; }

.datepicker .glyphicon-chevron-left:before {
  content: '<'; }

.datepicker .glyphicon-chevron-right:before {
  content: '>'; }

.datepicker .btn-block {
  border: none;
  background: none; }

.datepicker tbody .btn-default {
  background: none;
  border: 2px solid #eef1f9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.datepicker tbody .btn-default:hover {
  background: #ffba42; }

.datepicker tbody .btn-default:hover > span {
  color: #FFFFFF; }

.datepicker tbody .btn-today {
  background: #57dcba; }

.datepicker tbody .btn-today span {
  color: #FFFFFF; }

/*
 * FOOTER
 */
#guestInformation {
  background-color: #2f3545;
  bottom: 0px;
  color: #FFFFFF; }

#guestInformation .container {
  padding: 0; }

#guestInformation .formular {
  margin-top: 0; }

#guestInformation .formular form {
  margin: 20px 0; }

#guestInformationHeader {
  height: 40px; }

#guestInformationHeader span {
  display: inline-block;
  padding-left: 10px;
  margin-top: 12px;
  color: #FFFFFF; }

#guestInformationHeader .blueButton {
  position: absolute;
  right: 100px;
  top: 8px; }

#guestInformation .up, #guestInformation .down {
  float: right;
  width: 12px;
  height: 6px;
  padding: 20px;
  margin-right: 8px; }

#guestInformation .up {
  background: url("../img/arrows/up_white.png") no-repeat center #1e2331; }

#guestInformation .down {
  background: url("../img/arrows/down_white.png") no-repeat center #1e2331; }

#guestInformation .up:hover, #guestInformation .down:hover {
  cursor: pointer; }

#guestInformation input[type="text"],
#guestInformation input[type="number"],
#guestInformation input[type="email"] {
  background: #2f3545;
  border-color: #FFFFFF;
  color: #FFFFFF; }

#guestInformation select, .formular select {
  border: 2px solid #c9cedb;
  background: none;
  border-color: #FFFFFF;
  color: #FFFFFF;
  padding: 8px;
  height: 50px;
  width: 171px;
  font-family: "proxima";
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

#guestInformation .interests .row {
  color: #FFFFFF;
  height: 23px; }

/*
 * FORMULAR
 */
.formular {
  position: relative;
  padding: 20px;
  margin-top: 20px; }

.formular form {
  padding: 0 10px; }

.formular .status {
  position: absolute;
  right: 30px;
  top: 35px;
  color: #57dcba; }

.formular .col {
  float: left;
  margin-right: 25px; }

.formular .col.last {
  float: right;
  margin-right: 0px; }

.formular .row {
  margin-bottom: 12px; }

.formular .cal {
  background: url("../img/cal.png") no-repeat;
  background-position: 130px 10px; }

.formular select {
  border-color: #c9cedb;
  color: #2f3545; }

/* BEGIN CHROME */
.formular input {
  background: #FFFFFF;
  border: 2px solid #c9cedb;
  padding: 8px;
  height: 30px;
  color: #1e2331;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.formular .custom-counter-container input[type="text"] {
  max-width: 120px;
  text-align: center;
  font-family: "proxima";
  font-size: 16px; }

.formular .custom-counter-container button {
  width: 30px;
  padding: 0;
  background: #40475b;
  border-color: #40475b;
  color: #FFFFFF;
  border: none;
  height: 30px;
  font-family: "proxima";
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.formular .custom-counter-container button:hover {
  background: #ffba42;
  cursor: pointer; }

/* END CHROME */
/* BEGIN FIREFOX SAFARI */
.formular custom-counter::shadow .custom-counter-container input {
  background: #FFFFFF;
  border: 2px solid #c9cedb;
  padding: 8px;
  height: 30px;
  color: #1e2331;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.formular custom-counter::shadow .custom-counter-container input[type="text"] {
  max-width: 120px;
  text-align: center;
  font-family: "proxima";
  font-size: 16px; }

.formular custom-counter::shadow .custom-counter-container button {
  width: 30px;
  padding: 0;
  background: #40475b;
  border-color: #40475b;
  color: #FFFFFF;
  border: none;
  height: 30px;
  font-family: "proxima";
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.formular custom-counter::shadow .custom-counter-container button:hover {
  background: #ffba42;
  cursor: pointer; }

/* END FIREFOX SAFARI */
.formular .last input[type="text"], .formular .last input[type="email"] {
  width: 315px; }

.formular .item {
  width: 20px;
  float: left;
  border: 2px solid #c9cedb;
  margin-right: 10px;
  padding: 12px;
  text-align: center;
  background: #40475b;
  border-color: #40475b;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.formular .item:hover {
  cursor: pointer;
  background: #ffba42;
  border-color: #ffba42; }

.formular .core-selected {
  background: #57dcba;
  border-color: #57dcba;
  color: #FFFFFF; }

input.bigButton, button.bigButton {
  float: right;
  color: #FFFFFF;
  background: #57dcba;
  border: none;
  text-transform: uppercase;
  padding: 0px 20px;
  padding-top: 4px;
  height: 48px;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

input.bigButton:hover, button.bigButton:hover {
  background: #ffba42; }

button.blueButton {
  color: #FFFFFF;
  background: #40475b;
  border: none;
  padding: 5px 15px;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

button.blueButton:hover {
  background: #ffba42; }

button.orange {
  background: #ffba42; }

button.red {
  background: #ff5a00; }

.typeahead {
  position: absolute;
  background: #FFFFFF;
  background: #2f3545;
  margin-top: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.typeaheadItem {
  min-width: 319px;
  padding: 15px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.typeaheadItem.active {
  background-color: #ffba42; }

.typeaheadItem .title {
  color: #FFFFFF; }

.typeaheadItem .subtitle, .typeaheadItem .subsubtitle {
  color: #FFFFFF; }

/*
 * COLLAPSE
 */
.big, .medium, .small, .detail {
  position: relative; }

.big .open:hover, .medium .open:hover, .small .open:hover {
  cursor: pointer; }

.big .open .arrow {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.big.cc-open .open .arrow {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.medium.cc-closed .open .arrow:first-of-type {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.medium.cc-open .open .arrow:first-of-type {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.small.cc-closed .open .arrowSmall {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.small.cc-open .open .arrowSmall {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

/* BIG */
.big .open {
  position: absolute;
  right: 0;
  top: 2px;
  height: 57px;
  width: 57px;
  background: #eef1f9; }

.big .open .arrow {
  padding: 25px 23px; }

/* MEDIUM */
.medium .open {
  position: absolute;
  right: 0;
  top: 2px;
  background: #eef1f9;
  z-index: 10; }

.medium .open .arrow {
  padding: 18.5px; }

.medium h2 {
  border-top: 2px solid #c9cedb;
  border-bottom: 2px solid #c9cedb;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  margin: 0;
  font-size: 16px;
  position: relative;
  margin-bottom: -2px;
  z-index: 5; }

/* SMALL */
.small .open {
  background: none; }

.small .open .arrowSmall {
  background: none;
  padding: 18.5px; }

.small h3 {
  margin: 0px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  position: relative;
  border-top: 2px solid #eef1f9; }

.small h3:last-child {
  border: none; }

.small.cc-open h3 {
  background: #c9cedb; }

.collapse-wrapper {
  margin: 0 20px;
  position: relative; }

.collapse-wrapper h1 {
  border-top: 2px solid #c9cedb;
  padding-top: 11px;
  margin-top: 60px;
  margin-bottom: 0; }

.collapse-wrapper h1:first-of-type {
  margin-top: 37px; }

.collapse-wrapper .guest {
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #eef1f9;
  position: relative; }

.collapse-wrapper .guest .notification {
  background: #ff5a00;
  color: #FFFFFF;
  padding: 2px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

.collapse-wrapper .blueButton {
  position: absolute;
  right: 10px;
  top: -5px; }

.collapse-wrapper .guest .blueButton {
  position: absolute;
  right: 10px;
  top: 15px; }

.collapse-wrapper .changeDate {
  position: absolute;
  right: 80px;
  top: 16px;
  z-index: 10; }

.collapse-wrapper .changeDate .blueButton {
  position: static; }

.collapse-wrapper .formular {
  padding: 0;
  margin: 0; }

.collapse-wrapper .panel-collapse {
  margin-top: 30px; }

.collapse-wrapper .room-collapse {
  margin-top: 0; }

.collapse-wrapper .room-collapse .blueButton {
  position: absolute;
  top: 15px; }

.collapse-wrapper .content .data div:nth-child(1) {
  min-width: 130px;
  margin-right: 15px; }

.collapse-wrapper .content .data div:nth-child(2) {
  min-width: 50px;
  margin-right: 15px; }

.collapse-wrapper .content .data div:nth-child(3) {
  min-width: 100px;
  margin-right: 15px; }

.collapse-wrapper .content .email {
  border: 2px solid #c9cedb;
  padding: 5px 30px;
  margin-bottom: 10px; }

.collapse-wrapper .content .email-drop {
  border: 2px solid #eef1f9;
  min-height: 100px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.collapse-wrapper .content .email-list {
  margin-top: 30px; }

.collapse-wrapper .content .email-write {
  width: 60%; }

.collapse-wrapper .content .email-drag {
  width: 40%;
  margin-left: 30px; }

.collapse-wrapper .content .email-drag .items {
  font-size: 18px; }

.collapse-wrapper .content .email-drag .item {
  background: #40475b;
  color: #FFFFFF;
  padding: 8px 20px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.collapse-wrapper .content .email-left, .collapse .content .email-right {
  border: 2px solid #c9cedb;
  width: 70%;
  padding: 20px 30px;
  margin-bottom: 15px;
  min-height: 78px; }

.collapse-wrapper .content .email-info-left, .collapse .content .email-info-right {
  width: 25%;
  padding: 0 20px;
  color: #c9cedb;
  margin-top: 30px; }

.collapse-wrapper .content .email-info-right {
  text-align: right; }

/*
 * GUEST- AND HOTELMANAGEMENT
 */
.management {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px; }

.management .filter {
  position: relative; }

.management .add {
  background: #57dcba; }

.management .addGuest {
  margin: 0;
  padding: 10px; }

.management .options {
  position: absolute;
  top: 3px;
  right: 10px; }

.management .options .search {
  border: 2px solid #c9cedb;
  padding: 3px 8px;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.management .management-content {
  margin-top: 20px; }

.management .collapse-wrapper {
  margin: 0;
  position: relative; }

.management .collapse-wrapper .panel-collapse {
  margin-top: 0; }

.management-row {
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #eef1f9; }

.management-row div div:nth-child(1) {
  min-width: 150px;
  margin-right: 15px; }

.management-row div div:nth-child(2) {
  min-width: 250px;
  margin-right: 15px; }

.management-row div div:nth-child(3) {
  min-width: 100px;
  margin-right: 15px; }

/*
 * ROOMLIST
 */
.rl {
  margin-top: 0 !important; }

.rl_wrapper {
  margin-top: -1px;
  border-bottom: 2px solid #c9cedb;
  width: 1130px;
  overflow: hidden; }

.rl_wrapper span {
  display: inline-block;
  border: 1px solid #eef1f9;
  width: 30px;
  height: 44px;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.rl_wrapper .today {
  background: #c9cedb; }

.rl_wrapper .rl_month {
  text-transform: uppercase;
  width: 230px;
  border-left: none;
  text-align: left;
  padding-left: 35px; }

.rl_wrapper .rl_roomName {
  width: 230px;
  text-align: left;
  padding-left: 35px;
  background: #FFFFFF;
  border-left: none;
  height: 44px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20; }

.rl_wrapper .rl_room:last-of-type .rl_roomName {
  border-bottom: none; }

.rl_room {
  position: relative;
  height: 44px; }

.rl_roomName .type {
  display: inline;
  color: #c9cedb;
  margin-left: 10px; }

span.rl_booking {
  position: absolute;
  top: 0px;
  background: #eef1f9;
  z-index: 10;
  text-align: left;
  font-size: 10px; }

span.rl_booking:hover {
  cursor: pointer; }

span.rl_booking.booked {
  background: #ffba42; }

/*# sourceMappingURL=main.css.map */
