/*
 * FONT
 */
@font-face {
  font-family: 'proxima';
  src: url("../../fonts/proximanovasoft-regular-webfont.eot");
  src: url("../../fonts/proximanovasoft-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/proximanovasoft-regular-webfont.woff2") format("woff2"), url("../../fonts/proximanovasoft-regular-webfont.woff") format("woff"), url("../../fonts/proximanovasoft-regular-webfont.ttf") format("truetype"), url("../../fonts/proximanovasoft-regular-webfont.svg#proxima_nova_softregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
 * GENERAL STYLES
 */
* {
  font-family: "proxima";
  font-weight: normal;
  font-size: 16px;
  color: 2px solid #c9cedb; }

h1 {
  text-transform: uppercase;
  color: #2f3545;
  font-weight: normal;
  border-bottom: 2px solid #c9cedb;
  padding-bottom: 10px; }

h2 {
  text-transform: uppercase;
  font-weight: normal; }

.clear {
  clear: both; }

#navContainer, .container {
  margin: 0 auto; }

#navContainer {
  margin-top: -15px; }

.container {
  padding: 20px 0; }

/*
 * MEDIA QUERIES
 */
@media (min-width: 992px) {
  #navContainer, .container {
    width: 970px; } }
@media (min-width: 1200px) {
  #navContainer, .container {
    width: 1170px; } }
/*
 * NAVIGATION
 */
#nav {
  background-color: #2f3545;
  height: 50px; }

#leftNav a, #rightNav a {
  color: #FFFFFF;
  text-decoration: none; }

#leftNav a {
  margin-right: -5px;
  border-left: 1px solid #434b62;
  border-right: 1px solid #434b62;
  padding: 15px; }

#leftNav a:first-child {
  background: url("../img/hzv.png") no-repeat center center;
  margin-right: -1px;
  padding-left: 50px; }

#rightNav a {
  margin-right: -5px;
  border-left: 1px solid #434b62;
  border-right: 1px solid #434b62;
  padding: 15px;
  background: #1e2331; }

/*
 * LOGO, ARRIVALS, DEPARTURES
 */
.logo, .arrivals, .departures {
  margin: 0 20px; }

.logo {
  margin-top: 20px; }

.logo img {
  max-width: 200px; }

#current {
  margin-top: 30px; }

/*
 * FOOTER
 */
#guestInformation .container {
  padding: 0; }

#guestInformation .formular {
  margin-top: 0; }

#guestInformation {
  background-color: #2f3545;
  bottom: 0px;
  color: #FFFFFF; }

#guestInformationHeader {
  height: 40px; }

#guestInformation .up, #guestInformation .down {
  float: right;
  width: 12px;
  height: 6px;
  padding: 20px; }

#guestInformation .up {
  background: url("../img/arrows/up_white.png") no-repeat center #1e2331; }

#guestInformation .down {
  background: url("../img/arrows/down_white.png") no-repeat center #1e2331; }

#guestInformation .up:hover, #guestInformation .down:hover {
  cursor: pointer; }

#guestInformation input[type="text"],
#guestInformation input[type="number"],
#guestInformation input[type="email"] {
  background: #2f3545;
  border-color: #FFFFFF;
  color: #FFFFFF; }

#guestInformation select {
  border: 2px solid #c9cedb;
  background: #2f3545;
  border-color: #FFFFFF;
  color: #FFFFFF;
  padding: 8px;
  height: 50px;
  width: 171px;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

/*
 * FORMULAR
 */
.formular {
  position: relative;
  padding: 20px;
  margin-top: 20px; }

.formular .status {
  position: absolute;
  right: 20px;
  top: 35px;
  color: #57dcba; }

.formular .col {
  float: left;
  margin-right: 25px; }

.formular .col.last {
  float: right;
  margin-right: 0px; }

.formular .row {
  margin-bottom: 12px; }

.formular .cal {
  background: url("../img/cal.png") no-repeat;
  background-position: 130px 10px; }

div.dropdown-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  background: gray;
  list-style: none; }

.btn-today {
  background: red; }

.formular input {
  background: #FFFFFF;
  border: 2px solid #c9cedb;
  padding: 8px;
  height: 30px;
  color: #1e2331;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.formular .custom-counter-container input[type="text"] {
  max-width: 120px;
  text-align: center;
  font-family: "proxima";
  font-size: 16px; }

.formular .custom-counter-container button {
  width: 30px;
  padding: 0;
  background: #40475b;
  border-color: #40475b;
  color: #FFFFFF;
  border: none;
  height: 30px;
  font-family: "proxima";
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.formular custom-counter::shadow .custom-counter-container input {
  background: #FFFFFF;
  border: 2px solid #c9cedb;
  padding: 8px;
  height: 30px;
  color: #1e2331;
  font-family: "proxima";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.formular custom-counter::shadow .custom-counter-container input[type="text"] {
  max-width: 120px;
  text-align: center;
  font-family: "proxima";
  font-size: 16px; }

.formular custom-counter::shadow .custom-counter-container button {
  width: 30px;
  padding: 0;
  background: #40475b;
  border-color: #40475b;
  color: #FFFFFF;
  border: none;
  height: 30px;
  font-family: "proxima";
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.formular .last input[type="text"], .formular .last input[type="email"] {
  width: 345px; }

.formular .greenButton {
  float: right;
  color: #FFFFFF;
  background: #57dcba;
  border: none;
  text-transform: uppercase;
  padding: 0px 20px;
  padding-top: 4px;
  height: 48px; }

.formular .item {
  width: 20px;
  float: left;
  border: 2px solid #c9cedb;
  margin-right: 10px;
  padding: 12px;
  text-align: center;
  background: #40475b;
  border-color: #40475b;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.formular .item:hover {
  cursor: pointer; }

.formular .core-selected {
  background: #57dcba;
  border-color: #57dcba;
  color: #FFFFFF; }

/*
 * COLLAPSE
 */
.collapse {
  margin: 0 20px; }

.collapse h1 {
  float: left; }

.collapse .open {
  float: right;
  margin-top: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.collapse .open:hover {
  cursor: pointer; }

.collapse1 .content .data div:nth-child(1) {
  min-width: 200px; }

.collapse1 .content .data div:nth-child(2) {
  min-width: 50px; }

.collapse1 .content .data div:nth-child(3) {
  min-width: 110px; }

.collapse3 .content .email-left {
  width: 60%;
  border: 2px solid #c9cedb; }

.collapse3 .content .drag {
  width: 40%; }

.collapse3 .content .email-right {
  width: 60%;
  border: 2px solid #c9cedb;
  margin-left: 40%; }

/*# sourceMappingURL=main.css.map */
