

.rl_wrapper{
    width: 950px;
    overflow: hidden;
}
.rl_wrapper span{
    display: inline-block;
    border: 1px solid black;
    width: 25px;
    height: 30px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.rl_wrapper .today{
    background: grey;
}

.rl_wrapper .rl_month{
    width: 100px;
}

.rl_wrapper .rl_roomName{
    width: 100px;
}

.rl_room{
    position:relative;
}

.rl_booking{
    position: absolute;
    top: 0px;
    background: #cd5c5c;
    opacity: 0.5;
    width: auto;
}