/*
 * COLLAPSE
 */
.big, .medium, .small, .detail {
  position: relative;
}
.big .open:hover, .medium .open:hover, .small .open:hover {
  cursor: pointer;
}

.cc-open #collapse, .cc-open #collapse .panel-collapse {
  overflow: visible!important;
}

.big .open .arrow {
  @include rotate(0deg);
  @include transition(0.5s);
}
.big.cc-open .open .arrow {
  @include rotate(180deg);
  @include transition(0.5s);
}

.medium.cc-closed .open .arrow:first-of-type {
  @include rotate(0deg);
  @include transition(0.5s);
}
.medium.cc-open .open .arrow:first-of-type {
  @include rotate(180deg);
  @include transition(0.5s);
}

.small.cc-closed .open .arrowSmall {
  @include rotate(0deg);
  @include transition(0.5s);
}
.small.cc-open .open .arrowSmall {
  @include rotate(180deg);
  @include transition(0.5s);
}

/* BIG */
.big .open {
  position: absolute;
  right: 0;
  top: 2px;
  height: 57px;
  width: 57px;
  background: $grey;
}
.big .open .arrow {
  padding: 25px 23px;
}

/* MEDIUM */
.medium .open {
  position: absolute;
  right: 0;
  top: 2px;
  background: $grey;
  z-index: 10;
}
.medium .open .arrow {
  padding: 18.5px;
}
.medium h2 {
  border-top: $border;
  border-bottom: $border;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  margin: 0;
  font-size: 16px;
  position: relative;
  margin-bottom: -2px;
  z-index: 5;
}

/* SMALL */
.small .open {
  background: none;
}
.small .open .arrowSmall {
  background: none;
  padding: 18.5px;
}
.small h3 {
  margin:0px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  position: relative;
  border-top: $border-light;
}
.small h3:last-child {
  border: none;
}
.small.cc-open h3 {
  background: $darkgrey;
}

.collapse-wrapper {
  margin: 0 20px;
  position: relative;
}
.collapse-wrapper h1 {
  border-top: $border;
  padding-top: 11px;
  margin-top: 60px;
  margin-bottom: 0;
}
.collapse-wrapper h1:first-of-type {
  margin-top: 37px;
}
.collapse-wrapper .guest {
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: $border-light;
  position: relative;
}
.collapse-wrapper .guest .notification {
  background: $orange;
  color: $white;
  padding: 2px 10px;
  @include border-radius(20px);
}
.collapse-wrapper .blueButton {
  position: absolute;
  right: 10px;
  top: -5px;
}
.collapse-wrapper .guest .blueButton {
  position: absolute;
  right: 10px;
  top: 15px;
}
.collapse-wrapper .changeDate {
  position: absolute;
  right: 80px;
  top: 16px;
  z-index: 10;
}
.collapse-wrapper .changeDate .blueButton {
  position: static;
}
.collapse-wrapper .formular {
  padding: 0;
  margin: 0;
}
.collapse-wrapper .panel-collapse {
  margin-top: 30px;
}

.collapse-wrapper .room-collapse {
  margin-top: 0;
}
.collapse-wrapper .room-collapse .blueButton {
  position: absolute;
  top: 15px;
}
.collapse-wrapper .content .data div:nth-child(1) {
  min-width: 130px;
  margin-right: 15px;
}
.collapse-wrapper .content .data div:nth-child(2) {
  min-width: 50px;
  margin-right: 15px;
}
.collapse-wrapper .content .data div:nth-child(3) {
  min-width: 100px;
  margin-right: 15px;
}
.collapse-wrapper .content .email {
  border: $border;
  padding: 5px 30px;
  margin-bottom: 10px;
}
.collapse-wrapper .content .email-drop {
  border: $border-light;
  min-height: 100px;
  padding: 10px;
  @include border-radius(5px);
}
.collapse-wrapper .content .email-list {
  margin-top: 30px;
}
.collapse-wrapper .content .email-write {
  width: 60%;
}
.collapse-wrapper .content .email-drag {
  width: 40%;
  margin-left: 30px;
}
.collapse-wrapper .content .email-drag .items {
  font-size: 18px;
}
.collapse-wrapper .content .email-drag .item {
  background: $formblue;
  color: $white;
  padding: 8px 20px;
  margin-bottom: 2px;
  @include border-radius(5px);
}
.collapse-wrapper .content .email-left, .collapse .content .email-right {
  border: $border;
  width: 70%;
  padding: 20px 30px;
  margin-bottom: 15px;
  min-height: 78px;
}
.collapse-wrapper .content .email-info-left, .collapse .content .email-info-right {
  width: 25%;
  padding: 0 20px;
  color: $darkgrey;
  margin-top: 30px;
}
.collapse-wrapper .content .email-info-right {
  text-align: right;
}