/*
 * LOGO, ARRIVALS, DEPARTURES
 */
.logo, .arrivals, .departures {
  margin: 0 20px;
}
.logo {
  margin-top: 40px;
}
.logo img {
  max-width: 200px;
}
#current {
  margin-top: 30px;
}
#current h1 {
  margin-bottom: 0;
  border: none;
}
#current .dayEntryHeader {
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  position: relative;
  background: $darkgrey;
}
#current .dayEntryHeader .dayGuest {
  float: left;
  min-width: 180px;
}
#current .dayEntryDetails {
  background: $grey;
  padding-left: 10px;
  padding-bottom: 15px;
}
#current .dayEntryDetails .col {
  float: left;
  margin-right: 20px;
}
#current .dayEntryDetails .col div:first-child {
  padding-top: 15px;
}
#current .dayEntryDetails .col:last-child {
  padding-bottom: 15px;
}