/*
 * LOGO, ARRIVALS, DEPARTURES
 */
.logo, .arrivals, .departures {
  margin: 0 20px;
}
.logo {
  margin-top: 20px;
}
.logo img {
  max-width: 200px;
}
#current {
  margin-top: 30px;
}
#current h1 {
  margin-bottom: 0;
  border: none;
}
#current h2 {
  border-top: $border;
  border-bottom: $border;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  margin: 0;
  font-size: 16px;
  position: relative;
  margin-bottom: -2px;
}
#current .arrow {
  position: absolute;
  right: 0;
  top: 0;
  padding: 21px;
  background: $grey;
}
#current .arrow:hover {
  cursor: pointer;
}
#current .dayEntryHeader {
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 14px;
  position: relative;
  background: $darkgrey;
}
#current .dayEntryHeader .dayGuest {
  float: left;
  min-width: 180px;
}
#current .dayEntryHeader .arrow {
  background: none;
}
#current .dayEntry.active {
  background: none;
}
#current .dayEntryDetails {
  background: $grey;
  padding-left: 10px;
}
#current .dayEntryDetails .col {
  float: left;
  margin-right: 20px;
}
#current .dayEntryDetails .col div:first-child {
  padding-top: 15px;
}
#current .dayEntryDetails .col:last-child {
  padding-bottom: 15px;
}