/*
 * DATEPICKER
 */
.datepicker {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 10px;
  padding: 10px;
  background: $white;
  list-style: none;
  border: $border;
  text-align: center;
  @include border-radius(5px);
  z-index: 1;
}
.datepicker .text-center .pull-left,
.datepicker .text-center .pull-right  {
  background: $formblue;
  border: none;
  padding: 5px 15px;
  @include border-radius(5px);
  margin-bottom: 10px;
}
.datepicker .text-center .pull-left:hover,
.datepicker .text-center .pull-right:hover {
  background: $button-blue-hover;
}
.datepicker .glyphicon-chevron-left:before,
.datepicker .glyphicon-chevron-right:before {
  color: $white;
  font-family: $font;
  font-style: normal;
}
.datepicker .glyphicon-chevron-left:before {
  content: '<';
}
.datepicker .glyphicon-chevron-right:before {
  content: '>';
}
.datepicker .btn-block {
  border: none;
  background: none;
}
.datepicker tbody .btn-default {
  background: none;
  border: $border-light;
  @include border-radius(5px);
}
.datepicker tbody .btn-default:hover {
  background: $button-blue-hover;
}
.datepicker tbody .btn-default:hover > span {
  color: $white;
}
.datepicker tbody .btn-today {
  background: $green;
}
.datepicker tbody .btn-today span {
  color: $white;
}