/*
 * FORMULAR
 */
.formular {
  position: relative;
  padding: 20px;
  margin-top: 20px;
}
.formular form {
  padding: 0 10px;
}
.formular .status {
  position: absolute;
  right: 30px;
  top: 35px;
  color: $green;
}
.formular .col {
  float: left;
  margin-right: 25px;
}
.formular .col.last {
  float: right;
  margin-right: 0px;
}
.formular .row {
  margin-bottom: 12px;
}
.formular .cal {
  background: url("../img/cal.png") no-repeat;
  background-position: 130px 10px;
}
.formular select {
  border-color: $darkgrey;
  color: $blue;
}

/* BEGIN CHROME */
.formular input {
  background: $white;
  border: $border;
  padding: 8px;
  height: 30px;
  color: $darkblue;
  font-family: $font;
  @include border-radius(5px);
}
.formular .custom-counter-container input[type="text"] {
  max-width: 120px;
  text-align: center;
  font-family: $font;
  font-size: 16px;
}
.formular .custom-counter-container button {
  width: 30px;
  padding: 0;
  background: $formblue;
  border-color: $formblue;
  color: $white;
  border: none;
  height: 30px;
  font-family: $font;
  font-size: 16px;
  @include border-radius(5px);
  @include user-select(none);
}
.formular .custom-counter-container button:hover {
  background: $button-blue-hover;
  cursor: pointer;
}
/* END CHROME */

/* BEGIN FIREFOX SAFARI */
.formular custom-counter::shadow .custom-counter-container input {
  background: $white;
  border: $border;
  padding: 8px;
  height: 30px;
  color: $darkblue;
  font-family: $font;
  @include border-radius(5px);
}
.formular custom-counter::shadow .custom-counter-container input[type="text"] {
  max-width: 120px;
  text-align: center;
  font-family: $font;
  font-size: 16px;
}
.formular custom-counter::shadow .custom-counter-container button {
  width: 30px;
  padding: 0;
  background: $formblue;
  border-color: $formblue;
  color: $white;
  border: none;
  height: 30px;
  font-family: $font;
  font-size: 16px;
  @include border-radius(5px);
  @include user-select(none);
}
.formular custom-counter::shadow .custom-counter-container button:hover {
  background: $button-blue-hover;
  cursor: pointer;
}
/* END FIREFOX SAFARI */

.formular .last input[type="text"], .formular .last input[type="email"] {
  width: 315px;
}
.formular .item {
  width: 20px;
  float: left;
  border: $border;
  margin-right: 10px;
  padding: 12px;
  text-align: center;
  background: $formblue;
  border-color: $formblue;
  color: $white;
  @include border-radius(5px);
  @include user-select(none);
}
.formular .item:hover {
  cursor: pointer;
}
.formular .core-selected {
  background: $green;
  border-color: $green;
  color: $white;
}
input.greenButton, button.greenButton {
  float: right;
  color: #FFFFFF;
  background: $green;
  border: none;
  text-transform: uppercase;
  padding: 0px 20px;
  padding-top: 4px;
  height: 48px;
  font-family: $font;
  @include border-radius(5px);
}
input.greenButton:hover, button.greenButton:hover {
  background: $button-green-hover;
}
button.blueButton {
  color: #FFFFFF;
  background: $formblue;
  border: none;
  padding: 5px 15px;
  font-family: $font;
  @include border-radius(5px);
}
button.blueButton:hover {
  background: $button-blue-hover;
}