/*
 * NAVIGATION
 */
#nav {
  background-color: $blue;
  height: 50px;
}
#leftNav a, #rightNav a {
  color: $white;
  text-decoration: none;
}
#leftNav a:hover, #rightNav a:hover {
  background: $navblue;
}
#leftNav a {
  margin-right: -5px;
  border-left: $border-nav;
  border-right: $border-nav;
  padding: 15px;
  outline: none;
}
#leftNav a:first-child {
  background: url("../img/hzv.png") no-repeat center center;
  margin-right: -1px;
  padding-left: 50px;
}
#rightNav a {
  margin-right: -5px;
  border-left: $border-nav;
  border-right: $border-nav;
  padding: 15px;
  background: $darkblue;
  outline: none;
}
@-moz-document url-prefix() {
  #leftNav a, #rightNav a {
    margin-right: 0px;
    border-left: none;
    background: none;
  }
  #leftNav a:first-child, #rightNav a:first-child {
    border-left: $border-nav;
  }
}