/*
 * ROOMLIST
 */
.rl {
  margin-top: 0!important;
}
.rl_wrapper {
  margin-top: -1px;
  border-bottom: $border;
  width: 1130px;
  overflow: hidden;
}
.rl_wrapper span {
  display: inline-block;
  border: $border-ultralight;
  width: 30px;
  height: 44px;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.rl_wrapper .today {
  background: $darkgrey;
}
.rl_wrapper .rl_month {
  text-transform: uppercase;
  width: 230px;
  border-left: none;
  text-align: left;
  padding-left: 35px;
}
.rl_wrapper .rl_roomName {
  width: 230px;
  text-align: left;
  padding-left: 35px;
  background: $white;
  border-left: none;
  height: 44px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}
.rl_wrapper .rl_room:last-of-type .rl_roomName {
  border-bottom: none;
}
.rl_room {
  position:relative;
  height: 44px;
}
span.rl_booking {
  position: absolute;
  top: 0px;
  background: $grey;
  z-index: 10;
  text-align: left;
  font-size: 10px;
 }
span.rl_booking:hover {
  cursor: pointer;
}
span.rl_booking.booked {
  background: $orange-light;
}