<div class="management">
    <div class="filter">
        <h1>Zimmerliste</h1>
        <div class="options">
            <button class="blueButton add" onclick="document.getElementById('newRoomCollapse').toggle()">+</button>
        </div>
    </div>

    <div class="management-content">
        <custom-collapse colType="none" id="newRoomCollapse">
            <div class="addGuest panel-collapse formular" >
                <div class="col">
                    <div class="row"><input type="text" placeholder="Zimmer Nr." ng-model="newRoom.number"></div>
                    <div class="row"><input type="text" placeholder="Zimmer Name" ng-model="newRoom.name"></div>
                    <div class="row"><input type="text" placeholder="Kategorie" ng-model="newRoom.category"></div>
                </div>
                <div class="col">
                    <div class="row"><custom-counter bind-polymer ng-model="newRoom.s_beds" current="{{newRoom.s_beds}}" singular="E-Bett" plural="E-Betten" size="7"></custom-counter></div>
                    <div class="row"><custom-counter bind-polymer ng-model="newRoom.d_beds" current="{{newRoom.d_beds}}" singular="D-Bett" plural="D-Betten" size="7"></custom-counter></div>
                </div>

                <div class="col">
                    <div class="row" ng-repeat="extra in newRoom.extra">
                        <paper-checkbox checked></paper-checkbox> {{extra}}
                    </div>
                    <div class="row"><input type="text" placeholder="neues Extra..." name="address"></div>
                </div>

                <div class="col">
                    <button ng-click="saveRoom($index)" ng-disabled="addRoomFormButtonDisabled" class="bigButton">Speichern</button>
                </div>

                <div class="col">
                    <button ng-click="cancel()" class="bigButton red">Abbrechen</button>
                </div>

                <div class="clear"></div>

            </div>
        </custom-collapse>

        <section class="collapse-wrapper date"  ng-repeat="room in rooms">
            <custom-collapse colType="detail">
                <h3 vertical layout class="management-row">
                    <div horizontal layout>
                        <div horizontal>#{{room.number}}</div>
                        <div horizontal>{{room.name}}</div>
                        <div horizontal ng-if="room.s_beds != 0">{{room.s_beds}} E-Betten</div>
                        <div horizontal ng-if="room.d_beds != 0">{{room.d_beds}} D-Betten</div>
                        <div horizontal>{{room.extra}}</div>
                    </div>
                </h3>
                <button class="blueButton">Details</button>

                <div class="box panel-collapse formular" >
                    <div class="col">
                        <div class="row"><input type="text" name="address" ng-model="room.number"></div>
                        <div class="row"><input type="text" name="address" ng-model="room.name"></div>
                        <div class="row"><input type="text" name="address" ng-model="room.category"></div>
                    </div>

                    <div class="col">
                        <div class="row"><custom-counter bind-polymer ng-model="room.s_beds" current="{{room.s_beds}}" singular="E-Bett" plural="E-Betten" size="7"></custom-counter></div>
                        <div class="row"><custom-counter bind-polymer ng-model="room.d_beds" current="{{room.d_beds}}" singular="D-Bett" plural="D-Betten" size="7"></custom-counter></div>
                    </div>

                    <div class="col">
                        <div class="row" ng-repeat="extra in room.extra">
                            <paper-checkbox checked></paper-checkbox> {{extra}}
                        </div>
                        <div class="row"><input type="text" placeholder="neues Extra..." name="address"></div>
                    </div>

                    <div class="col">
                        <button ng-click="updateRoom($index)" ng-disabled="updateRoomButtonDisabled" class="bigButton">Speichern</button>
                    </div>

                    <div class="col">
                        <button ng-click="deleteRoom($index)" class="bigButton red">Löschen</button>
                    </div>

                    <div class="clear"></div>

                </div>
            </custom-collapse>
        </section>
    </div>
</div>