<section class="collapse-wrapper" bs-collapse>

    <h1 class="first">Zimmerliste</h1>
    <span class="open" bs-collapse-toggle><img src="../../img/arrows/down_grey.png" class="arrow"></span>

    <div class="clear"></div>

    <div bs-collapse-target fixedSize class="box panel-collapse room-collapse">
        <div class="content">

            <div vertical layout>
                <room-list rooms='rooms' bookings='bookings' startday='startday'></room-list>
            </div>
        </div>

        <button class="blueButton prev" ng-click="decreaseDate()"><</button>
        <button class="blueButton next" ng-click="increaseDate()">></button>

    </div>
</section>