<section class="collapse-wrapper" bs-collapse>

    <h1 class="first">Zimmerliste</h1>
    <span class="open" bs-collapse-toggle><img src="../../img/arrows/down_grey.png" class="arrow"></span>

    <div class="clear"></div>

    <div opened fixedSize bs-collapse-target class="panel-collapse room-collapse">
        <div class="content">
            <!--<button class="blueButton" ng-click="decreaseDate()">Prev</button> <button class="blueButton" ng-click="increaseDate()">Next</button>-->
            <div vertical layout>
                <room-list rooms='rooms' bookings='bookings' startday='startday'></room-list>
            </div>
        </div>
    </div>
</section>