<h1>Dashboard</h1>


<div ng-repeat="arrival in arrivals">
    <div ng-if="arrival.arr == today.valueOf()">
        <h2>Heute</h2>
        <span>{{arrival.arr | date:'dd.MM.yyyy'}}</span>
        <span>{{arrival.guest_id.last_name}}</span>
        <span>{{arrival.person_count}} Personen</span>
        <span>
            Zimmer
            <span ng-repeat="room in arrival.room_id">{{room.number}}{{$last ? '' : ', '}}</span>
        </span>
    </div>
</div>

<h2>Morgen</h2>
<div ng-repeat="arrival in arrivals">
    <div ng-if="arrival.arr == tomorrow.valueOf()">
        <span>{{arrival.arr | date:'dd.MM.yyyy'}}</span>
        <span>{{arrival.guest_id.last_name}}</span>
        <span>{{arrival.person_count}} Personen</span>
        <span>
            Zimmer
            <span ng-repeat="room in arrival.room_id">{{room.number}}</span>
        </span>

    </div>
</div>
<h2>Nächste Tage...</h2>
<div ng-repeat="arrival in arrivals">
    <div ng-if="arrival.arr > tomorrow.valueOf()">
        <span>{{arrival.arr | date:'dd.MM.yyyy'}}</span>
        <span>{{arrival.guest_id.last_name}}</span>
        <span>{{arrival.person_count}} Personen</span>
        <span>
            Zimmer
            <span ng-repeat="room in arrival.room_id">{{room.number}}</span>
        </span>
    </div>
</div>




<p>todo: Aktuelle Anreisen verbessern Aktuelle Abreisen, Verfügbarkeit...</p>