<section class="collapse">
    <h1>Alle Anfragen</h1>
    <span class="open" onclick="document.querySelector('.collapse1').toggle()">Icon</span>

    <div class="clear"></div>

    <core-collapse opened fixedSize class="box collapse1">
        <div class="content">

            <div vertical layout>
                <div horizontal layout class="data" ng-repeat="req in reqs">
                    <div horizontal>{{req.guest_id.salutation}} {{req.guest_id.last_name}}</div>
                    <div horizontal>{{req.arr | date:'dd.MM.yyyy'}}</div>
                    <div horizontal>{{req.dep | date:'dd.MM.yyyy'}}</div>
                    <div horizontal>{{req.person_count}} Personen</div>
                    <div horizontal flex><span>Zimmer
                        <span ng-repeat="room in req.room_id">{{room.number}}</span>
                    </span></div>
                    <div horizontal>Details</div>
                </div>
            </div>

        </div>
    </core-collapse>
</section>

<section class="collapse">
    <h1>Anfragen Familie Mustermann</h1>
    <span class="open" onclick="document.querySelector('.collapse2').toggle()">Icon</span>

    <div class="clear"></div>

    <core-collapse fixedSize class="box collapse2">
        <div class="content">Forma temperiemque cornua sidera dissociata cornua recessit innabilis ligavit: solidumque coeptis nullus caelum sponte phoebe di regat mentisque tanta austro capacius amphitrite sui quin postquam semina fossae liquidum umor galeae coeptis caligine liberioris quin liquidum matutinis invasit posset: flexi glomeravit radiis certis invasit oppida postquam onerosior inclusum dominari opifex terris pace finxit quam aquae nunc sine altae auroram quam habentem homo totidemque scythiam in pondus ensis tegit caecoque poena lapidosos humanas coeperunt poena aetas totidem nec natura aethera locavit caelumque distinxit animalibus phoebe cingebant moderantum porrexerat terrae possedit sua sole diu summaque obliquis melioris orbem</div>
    </core-collapse>
</section>

<section class="collapse">
    <h1>Anfrage-Verlauf</h1>
    <span class="open" onclick="document.querySelector('.collapse3').toggle()">Icon</span>

    <div class="clear"></div>

    <core-collapse opened fixedSize class="box collapse3" ng-controller="emailController">
        <div class="content">
            <div vertical layout>
                <div horizontal layout>
                    <div vertical layout>
                        <div class="email-left">
                            <div class="email-begin" ng-bind-html="email.begin">
                            </div>
                            <div class="email-drop" ng-bind-html="email.text">
                                <p>DROP</p>
                            </div>
                            <div class="email-end"ng-bind-html="email.end">
                            </div>
                        </div>
                        <div><button ng-click="sendEmail()">E-Mail Senden</button></div>
                    </div>
                    <div class="email-drag">
                    <p>DRAG</p>


<!--
                        <div class="tabs-wrapper">
                            <input type="radio" name="tab" id="tab1" class="tab-head" checked="checked"/>
                            <label for="tab1">Textbausteine</label>
                            <input type="radio" name="tab" id="tab2" class="tab-head" />
                            <label for="tab2">Pauschalen</label>

                            <div class="tab-body-wrapper">
                                <div id="tab-body-1" class="tab-body">
                                    <h1>Wellness</h1>
                                    <h1>Golf</h1>
                                </div>
                                <div id="tab-body-2" class="tab-body">
                                    <h1>Lorem</h1>
                                    <h1>Test</h1>
                                </div>
                            </div>
                        </div>
-->
                    </div>

                </div>


                <div horizontal layout>
                    <div horizontal class="email-right">
                        Liebe Familie Mustermann<br>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.<br>
                        Mit freundlichen Grüßen<br>
                        Sebastian Sammer
                    </div>
                </div>

                <div horizontal layout>
                    <div horizontal class="email-left">
                        Liebe Familie Mustermann<br>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.<br>
                        Mit freundlichen Grüßen<br>
                        Sebastian Sammer
                    </div>
                </div>
            </div>
        </div>
    </core-collapse>
</section>