$width-md: 970px;
$width-lg: 1170px;

$blue: #2f3545;
$darkblue: #1e2331;
$formblue: #40475b;
$grey: #eef1f9;
$darkgrey: #c9cedb;
$green: #57dcba;
$orange: #ff5a00;
$black: #000000;
$white: #FFFFFF;

$font: 'proxima';
$border: 2px solid $darkgrey;
$border-hr: 1px solid $darkgrey;
$border-light: 2px solid $grey;