<div class="management">
    <div class="filter">
        <h1>Gästeverwaltung</h1>
        <div class="options">
            <input type="text" class="search" placeholder="Gast suchen" ng-model="searchText.last_name">
            <button class="blueButton" ng-click="predicate = 'last_name'; reverse=!reverse">Alphabet</button>
            <button class="blueButton" ng-click="predicate = ''; reverse=!reverse">Letzter Urlaub</button>
            <button class="blueButton" ng-click="predicate = 'country'; reverse=!reverse">Land</button>
        </div>
    </div>

    <button class="blueButton" onclick="document.getElementById('newGuestCollapse').toggle()">Neuer Gast!</button>
    <div class="management-content">
        <custom-collapse colType="none" id="newGuestCollapse">
            <div class="formular">
                <h2>Neuen Gast anlegen</h2>
                <div>
                    <div class="col">
                        <div class="row">
                            <select name="salutation" ng-model="newGuest.salutation" tabindex="1">
                                <option>Herr</option>
                                <option>Frau</option>
                                <option>Familie</option>
                                <option>Firma</option>
                            </select>
                        </div>

                        <div class="row"><input type="text" placeholder="Adresse" tabindex="5" name="address" ng-model="newGuest.address"></div>
                        <div class="row"><input type="text" placeholder="Telefon" tabindex="8" name="phone" ng-model="newGuest.phone"></div>
                        <div class="row"><input type="text" placeholder="Geburtsdatum" tabindex="10" name="date" ng-model="newGuest.birthdate"></div>
                    </div>

                    <div class="col">
                        <div class="row"><input type="text" placeholder="Vorname" tabindex="2" name="first_name" ng-model="newGuest.first_name"></div>
                        <div class="row"><input type="text" placeholder="PLZ" tabindex="6" name="plz" ng-model="newGuest.plz"></div>
                        <div class="row"><input type="email" placeholder="Email" tabindex="9" name="email" ng-model="newGuest.email"></div>
                    </div>

                    <div class="col">
                        <div class="row"><input type="text" placeholder="Nachname" tabindex="3" name="last_name" ng-model="newGuest.last_name"></div>
                        <div class="row"><input type="text" placeholder="Stadt" tabindex="7" name="city" ng-model="newGuest.city"></div>
                    </div>

                    <div class="col">
                        <div class="row"><input type="text" placeholder="Land" tabindex="4" name="country" ng-model="newGuest.country"></div>
                    </div>

                    <div class="col">
                        <button ng-disabled="addGuestFormButtonDisabled" ng-click="saveGuest()" class="bigButton">Speichern</button>
                    </div>

                    <div class="col">
                        <button ng-disabled="addGuestFormButtonDisabled" ng-click="addGuestForm=!addGuestForm" class="bigButton orange">Abbrechen</button>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </custom-collapse>

        <section class="collapse-wrapper date" ng-repeat="guest in guests | filter:searchText | orderBy:predicate:reverse" >
            <custom-collapse colType="detail">
                <h3 vertical layout class="management-row">
                    <div horizontal layout>
                        <div horizontal>{{guest.salutation}} {{guest.last_name}}</div>
                        <div horizontal>letzter Urlaub am 10. Oktober 2014</div>
                        <div horizontal>10 Besuche</div>
                        <div horizontal flex>{{guest.country}}</div>
                    </div>
                </h3>
                <button class="blueButton">Details</button>

                <div class="box panel-collapse" >
                    <div class="content">
                        <div class="formular">
                            <div>
                                <div class="col">
                                    <div class="row">
                                        <select name="salutation" ng-model="guest.salutation">
                                            <option>Herr</option>
                                            <option>Frau</option>
                                            <option>Familie</option>
                                            <option>Firma</option>
                                        </select>
                                    </div>

                                    <div class="row"><input type="text" name="address" ng-model="guest.address"></div>
                                    <div class="row"><input type="text" name="phone" ng-model="guest.phone"></div>
                                    <div class="row"><input type="text" class="cal" placeholder="Datum" ng-model="guest.birthday" name="birthday" bs-datepicker></div>
                                </div>
                                <div class="col">
                                    <div class="row"><input type="text" name="first_name" ng-model="guest.first_name"></div>
                                    <div class="row"><input type="text" name="plz" ng-model="guest.plz"></div>
                                    <div class="row"><input type="email" name="email" ng-model="guest.email"></div>
                                </div>

                                <div class="col">
                                    <div class="row"><input type="text" name="last_name" ng-model="guest.last_name"></div>
                                    <div class="row"><input type="text" name="city" ng-model="guest.city"></div>
                                </div>

                                <div class="col">
                                    <div class="row"><input type="text" name="country" ng-model="guest.country"></div>
                                </div>

                                <div class="col">
                                    <button ng-click="updateGuest($index)" ng-disabled="updateGuestButtonDisabled" class="bigButton">Speichern</button>
                                </div>

                                <div class="col">
                                    <button ng-click="deleteGuest($index)" class="bigButton red">Löschen</button>
                                </div>

                                <div class="clear"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </custom-collapse>
        </section>
    </div>
</div>