/*
 * FONT
 */
@font-face {
  font-family: 'proxima';
  src: url('../../fonts/proximanovasoft-regular-webfont.eot');
  src: url('../../fonts/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanovasoft-regular-webfont.woff2') format('woff2'),
  url('../../fonts/proximanovasoft-regular-webfont.woff') format('woff'),
  url('../../fonts/proximanovasoft-regular-webfont.ttf') format('truetype'),
  url('../../fonts/proximanovasoft-regular-webfont.svg#proxima_nova_softregular') format('svg');
  font-weight: normal;
  font-style: normal;
}